.n_navbar_omg {
    position: fixed; /* Keeps the navbar at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(159, 154, 154);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures navbar stays above other elements */
}

.n_container {
    width: 100vw;
}

.n_nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; /* Same as h-16 */
    padding: 0 1rem;
}

.n_logo-container {
    display: flex;
    align-items: center;
}

.n_logo-image {
    width: auto;
    height: 3rem; /* Same as h-8 */
}

.n_user-greeting {
    display: flex;
    align-items: center;
}

.n_greeting-text {
    color: #080808; /* Equivalent to text-gray-800 */
    padding: 0.5rem 0.75rem; /* px-3 py-2 */
    border-radius: 0.375rem; /* Equivalent to rounded-md */
    font-size: 1.3rem; /* text-sm */
    font-weight: 500; /* font-medium */
    transition: color 0.2s ease-in-out;
}
.n_greeting-name {
    font-size: 1.5rem; /* Adjust size as needed */
    font-weight: bold;
    color: #e6ebed; /* Metallic Gold */
    text-shadow: 2px 2px 5px rgba(118, 208, 216, 0.6), 0 0 10px rgba(0, 0, 0, 0.8); /* Glow effect */
    padding: 5px 10px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.n_greeting-text:hover {
    color: #7A7A7A; /* Equivalent to hover:text-gray-600 */
}

/* Prevents content from going under the navbar */
body {
    padding-top: 4rem; /* Matches the navbar height */
}
@media(max-width: 450px) {
    .n_greeting-text {
        padding: 0.5rem 0.5rem; /* px-3 py-2 */
        border-radius: 0.375rem; /* Equivalent to rounded-md */
        font-size: 1rem; /* text-sm */
        font-weight: 400;
    }
    .n_nav-content {
        justify-content: space-between;
        padding: 0 0.1rem;
    }
    .n_greeting-name {
        font-size: 0.6rem; /* Adjust size as needed */
        font-weight: bold;
        color: #e6ebed; /* Metallic Gold */
        text-shadow: 2px 2px 5px rgba(118, 208, 216, 0.6), 0 0 10px rgba(0, 0, 0, 0.8); /* Glow effect */
        padding: 1px 2px;
    }
    .hea{
        font-size: 1rem;
    }
}